In [13]:
import pandas as pd
import numpy as np

In [14]:
reader = pd.read_csv(r'C:/Users/USER/Documents/hellods/MICRODADOS_ENEM_2019.csv',
                     sep=';', engine='python',
                     chunksize=1000000, iterator=True)

In [15]:
#Dados gerais equivalentes aos inscritos do ENEM 2019

dados_ = reader.get_chunk()
dados_.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004627,2019,1506807,Santarém,15,PA,21,M,1,3,...,A,A,A,C,B,A,D,A,B,A
1,190001004628,2019,1504059,Mãe do Rio,15,PA,16,F,1,3,...,A,A,A,B,B,A,B,A,A,A
2,190001004629,2019,1505502,Paragominas,15,PA,18,F,1,1,...,B,A,A,D,B,B,D,A,C,B
3,190001004630,2019,1507706,São Sebastião da Boa Vista,15,PA,23,M,0,3,...,A,A,A,C,A,A,D,A,A,A
4,190001004631,2019,1503903,Juruti,15,PA,23,M,1,3,...,A,A,A,B,A,A,D,A,A,A

In [16]:
dados_.shape

(1000000, 136)

In [17]:
#Quantidade de inscritos do ENEM 2019 por UF
dados_["SG_UF_RESIDENCIA"].value_counts()

SP    101740
MG    100788
CE     97762
BA     87908
RJ     70091
PE     55942
PA     48399
MA     47738
RS     41880
PI     40748
AM     37334
PR     37257
PB     29126
RN     23957
ES     21489
SC     18853
AL     17983
GO     17913
RO     17588
MT     16602
SE     15420
MS     14579
AP     12014
TO     12009
AC     11276
RR      3484
DF       120
Name: SG_UF_RESIDENCIA, dtype: int64

In [18]:
#Dados equivalentes aos inscritos do Estado do Maranhão
dados_[dados_['SG_UF_RESIDENCIA'] == 'MA']

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
1018,190001005645,2019,2111300,São Luís,21,MA,16,M,1,1,...,B,A,A,C,A,B,C,A,C,B
1580,190001006207,2019,2102606,Cândido Mendes,21,MA,18,F,1,1,...,A,A,A,B,A,A,C,A,A,B
2352,190001006979,2019,2111300,São Luís,21,MA,36,F,2,3,...,A,A,A,B,A,A,B,A,A,A
6072,190001010699,2019,2100055,Açailândia,21,MA,22,F,1,3,...,A,A,A,B,B,B,D,A,A,B
8530,190001013157,2019,2102903,Carutapera,21,MA,29,F,1,2,...,A,A,A,B,A,A,B,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997910,190002002558,2019,2111300,São Luís,21,MA,18,M,1,3,...,A,A,A,B,A,A,C,A,A,B
997911,190002002559,2019,2105153,Igarapé do Meio,21,MA,25,F,1,3,...,A,A,A,B,A,A,B,A,A,B
997912,190002002560,2019,2105302,Imperatriz,21,MA,24,M,1,1,...,A,A,A,B,A,A,C,A,B,B
997913,190002002561,2019,2111300,São Luís,21,MA,18,M,1,3,...,A,A,A,B,A,A,B,A,A,A
997914,190002002562,2019,2111300,São Luís,21,MA,22,M,1,3,...,B,A,A,B,A,A,C,A,B,B

In [19]:
#Dados equivalentes aos inscritos do sexo feminino do Estado do Maranhão

dados_.loc[(dados_["SG_UF_RESIDENCIA"] == 'MA') & (dados_["TP_SEXO"] == 'F')]

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
1580,190001006207,2019,2102606,Cândido Mendes,21,MA,18,F,1,1,...,A,A,A,B,A,A,C,A,A,B
2352,190001006979,2019,2111300,São Luís,21,MA,36,F,2,3,...,A,A,A,B,A,A,B,A,A,A
6072,190001010699,2019,2100055,Açailândia,21,MA,22,F,1,3,...,A,A,A,B,B,B,D,A,A,B
8530,190001013157,2019,2102903,Carutapera,21,MA,29,F,1,2,...,A,A,A,B,A,A,B,A,A,A
13113,190001017740,2019,2111805,Sítio Novo,21,MA,17,F,1,1,...,A,A,A,B,A,A,B,A,A,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997902,190002002550,2019,2111300,São Luís,21,MA,21,F,1,2,...,A,A,A,B,A,A,C,A,A,A
997904,190002002552,2019,2111300,São Luís,21,MA,21,F,1,3,...,A,A,A,B,A,A,B,A,A,A
997905,190002002553,2019,2105302,Imperatriz,21,MA,35,F,2,3,...,A,A,A,B,A,A,C,A,B,B
997907,190002002555,2019,2111300,São Luís,21,MA,21,F,1,3,...,A,A,A,B,A,A,E,A,A,A
997911,190002002559,2019,2105153,Igarapé do Meio,21,MA,25,F,1,3,...,A,A,A,B,A,A,B,A,A,B